/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  background-size: cover;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}
.image {
  text-align: center;
  height: 300px;
  width: 300px;
}
.para {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}
.para2 {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
}
.container2 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.button1 {
  border-radius: 5px;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.button2 {
  cursor: pointer;
  outline: none;
  background-color: none;
  color: #ffffff;
}
